* {
font-family: Optima, sans-serif;
text-align: center;    
font-size: 30px;
}

.main-view-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
}