.app-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}