.my-work-wrapper {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.my-work-container {
    border: 1px solid green;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;

}

.pic-maybe-container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr;
}

.pic-maybe {
    border: 1px solid hotpink;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr;
    grid-gap: 5px;
    height: 100%;
}

.pic {
    border: 1px solid blue;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fam-pic {
    width: 60%;
}

.my-info {
    border: 1px solid blue;
}

.work-list-container {
    border: 1px solid Purple;
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto;
}

.my-work {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
}

.work-screenshot {
    border: 1px solid hotpink;    
    background-color: black;  
    display: flex;
    align-items: center;
    justify-content: center;  
    position: relative;
}

.work {
    border: 1px solid hotpink;
}

.budget-main-pic {
    width: 60%;
    position: absolute;
    transition: width .5s;
    transition-timing-function: ease-in-out;    
}

.budget-main-pic:hover {
    width: 70%;
    cursor: pointer;
}

.dad-jokes-pic {
    width: 70%;
}

.calc-pic {
    width: 70%;
}

.color-changer-pic {
    width: 70%;
}

